In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

In [2]:
X = pd.read_csv('data/train_cleaned.csv')
y = pd.read_csv('data/target.csv')

In [5]:
print(X.shape)
X.head()

(9808, 107)

,fl_date,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,flights,distance,...,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,20181030,3997,3997,12266,13256,1455,1617,82,1,316,...,0,0,0,0,0,0,0,0,0,0
1,20181030,529,529,10599,11292,1315,1518,183,1,1083,...,0,0,0,0,0,0,0,0,0,0
2,20181030,2318,2318,11298,12892,1740,1853,193,1,1235,...,0,0,0,0,0,0,0,0,0,0
3,20181030,2375,2375,11298,14869,1855,2048,173,1,989,...,0,0,0,0,0,0,0,0,0,0
4,20181031,746,746,12173,14771,1433,2236,303,1,2398,...,0,0,0,0,1,0,0,0,0,0

In [6]:
print(y.shape)
y.head()

(9808, 1)

   arr_delay
0      -20.0
1      -15.0
2       -9.0
3       -1.0
4       -2.0

In [8]:
X.dtypes.value_counts()

int64      79
float64    28
dtype: int64

In [11]:
print(list(X.columns))

['fl_date', 'mkt_carrier_fl_num', 'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id', 'crs_dep_time', 'crs_arr_time', 'crs_elapsed_time', 'flights', 'distance', 'year', 'month', 'day', 'day_of_week', 'week_of_year', 'crs_dep_hour', 'crs_arr_hour', 'month_avg_arr_delay', 'month_avg_air_time', 'month_avg_carrier_delay', 'month_avg_weather_delay', 'month_avg_nas_delay', 'month_avg_security_delay', 'month_avg_late_aircraft_delay', 'day_of_week_avg_arr_delay', 'day_of_week_avg_air_time', 'day_of_week_avg_carrier_delay', 'day_of_week_avg_weather_delay', 'day_of_week_avg_nas_delay', 'day_of_week_avg_security_delay', 'day_of_week_avg_late_aircraft_delay', 'arr_hour_avg_arr_delay', 'arr_hour_avg_air_time', 'arr_hour_avg_carrier_delay', 'arr_hour_avg_weather_delay', 'arr_hour_avg_nas_delay', 'arr_hour_avg_security_delay', 'arr_hour_avg_late_aircraft_delay', 'origin_total_flights', 'dest_total_flights', 'month_flight_seats', 'month_flight_passengers', 'month_flight_avg_seats', 'month_flight_avg_passengers', 'carrier_month_seats', 'carrier_month_passengers', 'carrier_month_avg_seats', 'carrier_month_avg_passengers', 'month_avg_fuel_comsumption', 'orig_airport_month_flight_seats', 'orig_airport_month_passengers', 'dest_airport_month_flight_seats', 'dest_airport_month_passengers', 'mkt_unique_carrier_AA', 'mkt_unique_carrier_AS', 'mkt_unique_carrier_B6', 'mkt_unique_carrier_DL', 'mkt_unique_carrier_F9', 'mkt_unique_carrier_G4', 'mkt_unique_carrier_HA', 'mkt_unique_carrier_NK', 'mkt_unique_carrier_UA', 'mkt_unique_carrier_VX', 'mkt_unique_carrier_WN', 'branded_code_share_AA', 'branded_code_share_AA_CODESHARE', 'branded_code_share_AS', 'branded_code_share_AS_CODESHARE', 'branded_code_share_B6', 'branded_code_share_DL', 'branded_code_share_DL_CODESHARE', 'branded_code_share_F9', 'branded_code_share_G4', 'branded_code_share_HA', 'branded_code_share_HA_CODESHARE', 'branded_code_share_NK', 'branded_code_share_UA', 'branded_code_share_UA_CODESHARE', 'branded_code_share_VX', 'branded_code_share_WN', 'op_unique_carrier_9E', 'op_unique_carrier_AA', 'op_unique_carrier_AS', 'op_unique_carrier_AX', 'op_unique_carrier_B6', 'op_unique_carrier_C5', 'op_unique_carrier_CP', 'op_unique_carrier_DL', 'op_unique_carrier_EM', 'op_unique_carrier_EV', 'op_unique_carrier_F9', 'op_unique_carrier_G4', 'op_unique_carrier_G7', 'op_unique_carrier_HA', 'op_unique_carrier_KS', 'op_unique_carrier_MQ', 'op_unique_carrier_NK', 'op_unique_carrier_OH', 'op_unique_carrier_OO', 'op_unique_carrier_PT', 'op_unique_carrier_QX', 'op_unique_carrier_UA', 'op_unique_carrier_VX', 'op_unique_carrier_WN', 'op_unique_carrier_YV', 'op_unique_carrier_YX', 'op_unique_carrier_ZW']

In [12]:
X.columns.get_loc('mkt_unique_carrier_AA')

53

In [18]:
X.iloc[:, 50:53]

,orig_airport_month_passengers,dest_airport_month_flight_seats,dest_airport_month_passengers
0,17176426,405577,288439
1,1304863,30526301,26412747
2,27909683,41526408,34347751
3,27909683,11730371,9839898
4,8131626,28213693,22922751
...,...,...,...
9803,1526523,12675848,10295905
9804,13073152,2166256,1758250
9805,25027944,22817500,18595697
9806,16756296,52153684,44806853
9807,18595697,11730371,9839898

In [17]:
from src.modules.feature_engineering import scale_data

In [21]:
_ , scaled_df = scale_data(X.iloc[:, :53])

X_scaled = pd.concat([scaled_df, X.iloc[:, 53:]], axis=1)
X_scaled.head()

,fl_date,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,flights,distance,...,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,-0.945485,0.691058,0.690545,-0.259396,0.384756,0.273744,0.260514,-0.768966,0.0,-0.758579,...,0,0,0,0,0,0,0,0,0,0
1,-0.945485,-1.167482,-1.167051,-1.349023,-0.909316,-0.013007,0.066393,0.637220,0.0,0.541348,...,0,0,0,0,0,0,0,0,0,0
2,-0.945485,-0.208737,-0.208793,-0.892125,0.144918,0.857489,0.723269,0.776447,0.0,0.798960,...,0,0,0,0,0,0,0,0,0,0
3,-0.945485,-0.178190,-0.178261,-0.892125,1.447556,1.093035,1.105630,0.497994,0.0,0.382034,...,0,0,0,0,0,0,0,0,0,0
4,-0.945286,-1.051189,-1.050817,-0.320185,1.382984,0.228683,1.474265,2.307937,0.0,2.770036,...,0,0,0,0,1,0,0,0,0,0

In [24]:
test = pd.read_csv('data/random_10000.csv')
test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-12,AA,AA,AA,1773,AA,N981UY,1773,11057,CLT,...,507,79.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2018-07-12,DL,DL,DL,708,DL,N322NB,708,12953,LGA,...,1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-12,DL,DL,DL,1945,DL,N363NW,1945,10849,BZN,...,874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-12,UA,UA,UA,2293,UA,N76528,2293,13930,ORD,...,416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-12,UA,UA,UA,1234,UA,N899UA,1234,12266,IAH,...,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
from src.modules.feature_engineering import scale_encoder

In [26]:
new, _, _ = scale_encoder(test)

ValueError: Must pass 2-d input. shape=()