In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

In [2]:
test = pd.read_csv('data/train_MKT_string.csv')
test.drop(columns=['Unnamed: 0'], inplace=True)
test.head()

,mkt_unique_carrier,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,flights,distance,...,month_flight_avg_passengers,carrier_month_seats,carrier_month_passengers,carrier_month_avg_seats,carrier_month_avg_passengers,month_avg_fuel_comsumption,orig_airport_month_flight_seats,orig_airport_month_passengers,dest_airport_month_flight_seats,dest_airport_month_passengers
0,UA,3997,3997,12266,13256,1455,1617,82,1,316,...,82.035018,55003329,45704398,169.542505,134.985112,1.378381e+08,21173178,17176426,405577,288439
1,F9,529,529,10599,11292,1315,1518,183,1,1083,...,159.452381,9175856,7825867,182.916216,150.583777,1.878024e+07,1624146,1304863,30526301,26412747
2,AA,2318,2318,11298,12892,1740,1853,193,1,1235,...,192.751409,74614837,62505008,168.496511,136.733012,1.819297e+08,33551297,27909683,41526408,34347751
3,AA,2375,2375,11298,14869,1855,2048,173,1,989,...,128.523313,74614837,62505008,168.496511,136.733012,1.819297e+08,33551297,27909683,11730371,9839898
4,UA,746,746,12173,14771,1433,2236,303,1,2398,...,194.466981,55003329,45704398,169.542505,134.985112,1.378381e+08,9959578,8131626,28213693,22922751

In [3]:
test.dtypes

mkt_unique_carrier                      object
mkt_carrier_fl_num                       int64
op_carrier_fl_num                        int64
origin_airport_id                        int64
dest_airport_id                          int64
crs_dep_time                             int64
crs_arr_time                             int64
crs_elapsed_time                         int64
flights                                  int64
distance                                 int64
year                                     int64
month                                    int64
day                                      int64
day_of_week                              int64
week_of_year                             int64
crs_dep_hour                             int64
crs_arr_hour                             int64
month_avg_arr_delay                    float64
month_avg_air_time                     float64
month_avg_carrier_delay                float64
month_avg_weather_delay                float64
month_avg_nas_delay                    float64
month_avg_security_delay               float64
month_avg_late_aircraft_delay          float64
day_of_week_avg_arr_delay              float64
day_of_week_avg_air_time               float64
day_of_week_avg_carrier_delay          float64
day_of_week_avg_weather_delay          float64
day_of_week_avg_nas_delay              float64
day_of_week_avg_security_delay         float64
day_of_week_avg_late_aircraft_delay    float64
arr_hour_avg_arr_delay                 float64
arr_hour_avg_air_time                  float64
arr_hour_avg_carrier_delay             float64
arr_hour_avg_weather_delay             float64
arr_hour_avg_nas_delay                 float64
arr_hour_avg_security_delay            float64
arr_hour_avg_late_aircraft_delay       float64
origin_total_flights                     int64
dest_total_flights                       int64
month_flight_seats                     float64
month_flight_passengers                float64
month_flight_avg_seats                 float64
month_flight_avg_passengers            float64
carrier_month_seats                      int64
carrier_month_passengers                 int64
carrier_month_avg_seats                float64
carrier_month_avg_passengers           float64
month_avg_fuel_comsumption             float64
orig_airport_month_flight_seats          int64
orig_airport_month_passengers            int64
dest_airport_month_flight_seats          int64
dest_airport_month_passengers            int64
dtype: object

In [4]:
from src.modules.feature_engineering import scale_encoder

In [5]:
final_df, _,= scale_encoder(test)
final_df.head()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,flights,distance,year,...,mkt_unique_carrier_AS,mkt_unique_carrier_B6,mkt_unique_carrier_DL,mkt_unique_carrier_F9,mkt_unique_carrier_G4,mkt_unique_carrier_HA,mkt_unique_carrier_NK,mkt_unique_carrier_UA,mkt_unique_carrier_VX,mkt_unique_carrier_WN
0,0.691058,0.690545,-0.259396,0.384756,0.273744,0.260514,-0.768966,0.0,-0.758579,-1.01894,...,0,0,0,0,0,0,0,1,0,0
1,-1.167482,-1.167051,-1.349023,-0.909316,-0.013007,0.066393,0.637220,0.0,0.541348,-1.01894,...,0,0,0,1,0,0,0,0,0,0
2,-0.208737,-0.208793,-0.892125,0.144918,0.857489,0.723269,0.776447,0.0,0.798960,-1.01894,...,0,0,0,0,0,0,0,0,0,0
3,-0.178190,-0.178261,-0.892125,1.447556,1.093035,1.105630,0.497994,0.0,0.382034,-1.01894,...,0,0,0,0,0,0,0,0,0,0
4,-1.051189,-1.050817,-0.320185,1.382984,0.228683,1.474265,2.307937,0.0,2.770036,-1.01894,...,0,0,0,0,0,0,0,1,0,0

In [6]:
X = pd.DataFrame({'city': ['London', 'London', 'Paris', 'Sallisaw'], 'rating': [5, 3, 4, 5], 'test': ['6','7','8','9']})
X.dtypes

city      object
rating     int64
test      object
dtype: object

In [7]:
X.head()

       city  rating test
0    London       5    6
1    London       3    7
2     Paris       4    8
3  Sallisaw       5    9

In [8]:
new, _ = scale_encoder(X)

In [9]:
new.head()

,rating,city_London,city_Paris,city_Sallisaw,test_6,test_7,test_8,test_9
0,0.904534,1,0,0,1,0,0,0
1,-1.507557,1,0,0,0,1,0,0
2,-0.301511,0,1,0,0,0,1,0
3,0.904534,0,0,1,0,0,0,1

In [10]:
list(new.columns)

['rating',
 'city_London',
 'city_Paris',
 'city_Sallisaw',
 'test_6',
 'test_7',
 'test_8',
 'test_9']