In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('data/random_10000.csv')

In [3]:
print(df.shape)
df.head()

(10000, 42)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-12,AA,AA,AA,1773,AA,N981UY,1773,11057,CLT,...,507,79.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2018-07-12,DL,DL,DL,708,DL,N322NB,708,12953,LGA,...,1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-12,DL,DL,DL,1945,DL,N363NW,1945,10849,BZN,...,874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-12,UA,UA,UA,2293,UA,N76528,2293,13930,ORD,...,416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-12,UA,UA,UA,1234,UA,N899UA,1234,12266,IAH,...,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['origin'].value_counts()

ORD    491
ATL    490
DFW    378
DEN    350
LAX    323
      ...
BRW      1
CKB      1
IMT      1
BFF      1
GUC      1
Name: origin, Length: 309, dtype: int64

In [5]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.compose import make_column_selector
import pandas as pd  
import numpy as np

In [6]:
X = pd.DataFrame({'city': ['London', 'London', 'Paris', 'Sallisaw'],
                  'rating': [5, 3, 4, 5]})

In [7]:
X.head()

       city  rating
0    London       5
1    London       3
2     Paris       4
3  Sallisaw       5

In [8]:
def scale_data(X):
    scaler = StandardScaler()
    X_scaled = pd.DataFrame(scaler.fit_transform(X), columns=list(X.columns))
    return scaler, X_scaled

def scale_encoder(X):
    
    ct = ColumnTransformer(transformers=[('scaler', OneHotEncoder(), make_column_selector(dtype_include=object))])
    encoded_features = np.array(ct.fit_transform(X))
    encoded_df = pd.DataFrame(encoded_features, columns=ct.get_feature_names())
    
    X_numeric = X.select_dtypes(exclude=object)
    scaler, X_numeric = scale_data(X_numeric)
    
    final_df = pd.concat([X_numeric, encoded_df], axis=1)
    
    return final_df, ct, scaler

In [9]:
X_clean, _, _ = scale_encoder(X)
X_clean.head()

     rating  scaler__x0_London  scaler__x0_Paris  scaler__x0_Sallisaw
0  0.904534                1.0               0.0                  0.0
1 -1.507557                1.0               0.0                  0.0
2 -0.301511                0.0               1.0                  0.0
3  0.904534                0.0               0.0                  1.0