In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('data/random_10000.csv')

In [3]:
print(df.shape)
df.head()

(10000, 42)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-12,AA,AA,AA,1773,AA,N981UY,1773,11057,CLT,...,507,79.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2018-07-12,DL,DL,DL,708,DL,N322NB,708,12953,LGA,...,1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-12,DL,DL,DL,1945,DL,N363NW,1945,10849,BZN,...,874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-12,UA,UA,UA,2293,UA,N76528,2293,13930,ORD,...,416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-12,UA,UA,UA,1234,UA,N899UA,1234,12266,IAH,...,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['origin'].value_counts()

ORD    491
ATL    490
DFW    378
DEN    350
LAX    323
      ...
BQN      1
LNY      1
ACK      1
IAG      1
USA      1
Name: origin, Length: 309, dtype: int64