# Machine Learning

In this file, instructions how to approach the challenge can be found.

We are going to work on different types of Machine Learning problems:

- **Regression Problem**: The goal is to predict delay of flights.
- **(Stretch) Multiclass Classification**: If the plane was delayed, we will predict what type of delay it is (will be).
- **(Stretch) Binary Classification**: The goal is to predict if the flight will be cancelled.

## Main Task: Regression Problem

The target variable is **ARR_DELAY**. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.  

For example, variables **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY** shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights **1 week in advance**.

### Feature Engineering

Feature engineering will play a crucial role in this problems. We have only very little attributes so we need to create some features that will have some predictive power.

- weather: we can use some weather API to look for the weather in time of the scheduled departure and scheduled arrival.
- statistics (avg, mean, median, std, min, max...): we can take a look at previous delays and compute descriptive statistics
- airports encoding: we need to think about what to do with the airports and other categorical variables
- time of the day: the delay probably depends on the airport traffic which varies during the day.
- airport traffic
- unsupervised learning as feature engineering?
- **what are the additional options?**: Think about what we could do more to improve the model.

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_data_set(path= './data', file= 'flights.csv', test=False):
    '''
    Load Train or Test data add new features from database. 

    Parameters
    ----------
    Path : str, Location of source file. Ex. './data'.
    
    file : str, Name of file, include extension .
        Target vector relative to X.
    
    test: boolean, default=False
        True loads test. False loads train data.
           
    Returns
    -------
    X : pandas DataFrame
        DataFrame containing training or test data. 
    
    y : pandas Series (Only for training data)
        If test = False it returns a target variable in pandas Series.
    '''
    # Load Train or Test csv
    X = pd.read_csv(f'{path}/{file}')
    if test:
        return X
    else:
    # Take target variable out of flights data set
        y = X['arr_delay']
        X = X.drop('arr_delay', axis=1)
        return X, y

In [ ]:
def load_agg_data(X, path= './data', test=False):
    '''
    Add aggregated variables as new features to Train or Test data set. 

    Parameters
    ----------
    X : pandas DataFrame
        Test or Train dataset.
    
    Path : str, Location of source file. Ex. './data'.
        Location of files to read and load.

    
    test: boolean, default=False
        True loads test. False loads train data.
           
    Returns
    -------
    X : pandas DataFrame
        Pandas DataFrame containing Train or Test data and additional features. 

    '''

    # Load flights aggregate data
    flight_delay_aggregate_mth = pd.read_csv('./data/flight_delay_aggregate_monthly.csv')
    flight_delay_aggregate_dow = pd.read_csv('./data/flight_delay_aggregate_day_of_week.csv')
    flight_delay_aggregate_arrive_hour= pd.read_csv('./data/flight_delay_aggregate_arrive_hour.csv')
    flight_airport_traffic = pd.read_csv('./data/flight_airport_traffic.csv')

    # Load passengers aggregate data
    passengers_flight_montly_aggregate = pd.read_csv('./data/passengers_flight_montly_aggregate.csv')
    passengers_carrier_monthly_aggregate = pd.read_csv('./data/passengers_carrier_monthly_aggregate.csv')
    passengers_airport_monthly_aggregate= pd.read_csv('./data/passengers_airport_monthly_aggregate.csv')
    # Load fuel comsumption data
    fuel_comsumption_monthyl_aggregate= pd.read_csv('./data/fuel_comsumption_monthyl_aggregate.csv')

    # join tables data from origin
    flights = pd.merge(X, flight_delay_aggregate_mth, how='left', on=['mkt_unique_carrier', 'origin_airport_id', 'dest_airport_id',  'month'])
    flights = pd.merge(flights, flight_delay_aggregate_dow, how='left', on=['mkt_unique_carrier', 'origin_airport_id', 'dest_airport_id',  'day_of_week'])
    flights = pd.merge(flights, flight_delay_aggregate_arrive_hour, how='left', on=['mkt_unique_carrier', 'origin_airport_id', 'dest_airport_id', 'crs_arr_hour'])

    # Join Airport traffic
    orig = flight_airport_traffic[['airport_id','month', 'total_flights']]
    orig.columns = ['origin_airport_id','month','origin_total_flights']
    dest = flight_airport_traffic[['airport_id','month','total_flights']]
    dest.columns = ['dest_airport_id','month','dest_total_flights']
    flights = pd.merge(flights, orig, how='left', on=['origin_airport_id','month'])
    flights = pd.merge(flights, dest, how='left', on=['dest_airport_id','month'])

    
    # Join Passengers data
    flights = pd.merge(flights, passengers_flight_montly_aggregate, how='left', on=['mkt_unique_carrier', 'origin_airport_id', 'dest_airport_id','month'])
    flights = pd.merge(flights, passengers_carrier_monthly_aggregate, how='left', on=['mkt_unique_carrier', 'month'])
    flights = pd.merge(flights, fuel_comsumption_monthyl_aggregate, how='left', on=['mkt_unique_carrier', 'month'])
    #Flights has origin and destination ariports. we add it from the table.
    orig_pass = passengers_airport_monthly_aggregate[['airport_id','month', 'airport_month_flight_seats', 'airport_month_passengers']]
    orig_pass.columns = ['origin_airport_id','month', 'orig_airport_month_flight_seats', 'orig_airport_month_passengers']
    dest_pass = passengers_airport_monthly_aggregate[['airport_id','month', 'airport_month_flight_seats', 'airport_month_passengers']]
    dest_pass.columns = ['dest_airport_id','month', 'dest_airport_month_flight_seats', 'dest_airport_month_passengers']
    flights = pd.merge(flights, orig_pass, how='left', on=['origin_airport_id','month'])
    flights = pd.merge(flights, dest_pass, how='left', on=['dest_airport_id','month'])
    
    return flights

In [ ]:
# Load data
X, y = load_data_set()

In [ ]:
print(X.shape)
print(y.shape)

In [ ]:
X.head()

In [ ]:
train = load_agg_data(X)

In [ ]:
train.shape

In [ ]:
# Save data in local disk
train.to_csv('./data/train.csv', index=False)
y.to_csv('./data/target.csv', index=False)

In [ ]:
train.dtypes
	modified:   .ipynb_checkpoints/modeling_aa-checkpoint.ipynb
	modified:   model_evaluation.ipynb
	modified:   modeling_aa.ipynb

In [11]:
sorted(list(train.columns))

['arr_hour_avg_air_time',
 'arr_hour_avg_arr_delay',
 'arr_hour_avg_carrier_delay',
 'arr_hour_avg_late_aircraft_delay',
 'arr_hour_avg_nas_delay',
 'arr_hour_avg_security_delay',
 'arr_hour_avg_weather_delay',
 'branded_code_share',
 'carrier_month_avg_passengers',
 'carrier_month_avg_seats',
 'carrier_month_passengers',
 'carrier_month_seats',
 'crs_arr_hour',
 'crs_arr_time',
 'crs_dep_hour',
 'crs_dep_time',
 'crs_elapsed_time',
 'day',
 'day_of_week',
 'day_of_week_avg_air_time',
 'day_of_week_avg_arr_delay',
 'day_of_week_avg_carrier_delay',
 'day_of_week_avg_late_aircraft_delay',
 'day_of_week_avg_nas_delay',
 'day_of_week_avg_security_delay',
 'day_of_week_avg_weather_delay',
 'dest',
 'dest_airport_id',
 'dest_airport_month_flight_seats',
 'dest_airport_month_passengers',
 'dest_city_name',
 'dest_total_flights',
 'distance',
 'dup',
 'fl_date',
 'flights',
 'mkt_carrier',
 'mkt_carrier_fl_num',
 'mkt_unique_carrier',
 'month',
 'month_avg_air_time',
 'month_avg_arr_delay',
 'month_avg_carrier_delay',
 'month_avg_fuel_comsumption',
 'month_avg_late_aircraft_delay',
 'month_avg_nas_delay',
 'month_avg_security_delay',
 'month_avg_weather_delay',
 'month_flight_avg_passengers',
 'month_flight_avg_seats',
 'month_flight_passengers',
 'month_flight_seats',
 'op_carrier_fl_num',
 'op_unique_carrier',
 'orig_airport_month_flight_seats',
 'orig_airport_month_passengers',
 'origin',
 'origin_airport_id',
 'origin_city_name',
 'origin_total_flights',
 'tail_num',
 'week_of_year',
 'year']

In [12]:
# missing data
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(30)

                                     Total   Percent
month_flight_avg_passengers           1915  0.195249
month_flight_avg_seats                1915  0.195249
month_flight_passengers               1915  0.195249
month_flight_seats                    1915  0.195249
tail_num                                32  0.003263
arr_hour_avg_late_aircraft_delay        29  0.002957
arr_hour_avg_carrier_delay              29  0.002957
arr_hour_avg_weather_delay              29  0.002957
arr_hour_avg_nas_delay                  29  0.002957
arr_hour_avg_security_delay             29  0.002957
month_avg_nas_delay                     22  0.002243
month_avg_late_aircraft_delay           22  0.002243
month_avg_security_delay                22  0.002243
month_avg_weather_delay                 22  0.002243
month_avg_carrier_delay                 22  0.002243
day_of_week_avg_late_aircraft_delay      5  0.000510
day_of_week_avg_security_delay           5  0.000510
day_of_week_avg_nas_delay                5  0.000510
day_of_week_avg_weather_delay            5  0.000510
day_of_week_avg_carrier_delay            5  0.000510
crs_dep_time                             0  0.000000
dest_city_name                           0  0.000000
crs_arr_time                             0  0.000000
dup                                      0  0.000000
crs_elapsed_time                         0  0.000000
flights                                  0  0.000000
distance                                 0  0.000000
origin_city_name                         0  0.000000
dest                                     0  0.000000
dest_airport_id                          0  0.000000

In [13]:
train.dtypes[train.dtypes == 'object']

fl_date               object
mkt_unique_carrier    object
branded_code_share    object
mkt_carrier           object
op_unique_carrier     object
tail_num              object
origin                object
origin_city_name      object
dest                  object
dest_city_name        object
dup                   object
dtype: object

In [ ]:
# fl_date numeric
#train['fl_date'] = train['fl_date'].replace('-', '', regex=True).astype(int)
# mkt_unique_carrier - hot-encode

In [27]:
def one_hot_encode(X):
    cat_feats = train.dtypes[X.dtypes == 'object'].index.tolist()
    df_dummy = pd.get_dummies(X[cat_feats])
    return df_dummy

def label_encode():
    pass

def date_numeric(s):
    s = s.replace('-', '', regex=True).astype(int)
    return s

def print_cat_describe(df):
    for col in train.dtypes[train.dtypes == 'object'].index:
        print("Variable: ", col)
        print(df[col].describe())
        print("Unique values: ", df[col].unique())
        print('')

In [22]:
train['fl_date'] = date_numeric(train['fl_date'])

TypeError: astype() got an unexpected keyword argument 'type'

In [23]:
train.dtypes[train.dtypes == 'object']

mkt_unique_carrier    object
branded_code_share    object
mkt_carrier           object
op_unique_carrier     object
tail_num              object
origin                object
origin_city_name      object
dest                  object
dest_city_name        object
dup                   object
dtype: object

In [ ]:
#drop
# mkt_carrier
# tail_num - do we need it?
# origin
# origin_city_name
# dest
# dest_city_name
# dup - it contains only N - we do not need it
to_drop = ['mkt_carrier', 'tail_num', 'origin', 'origin_city_name', 'dest', 'dest_city_name', 'dup']
train = train.drop(to_drop, axis=1)

In [73]:
train.dtypes[train.dtypes == 'object']

mkt_unique_carrier    object
branded_code_share    object
op_unique_carrier     object
dtype: object

In [28]:
print_cat_describe(train)

Variable:  mkt_unique_carrier
count     9808
unique      11
top         AA
freq      2516
Name: mkt_unique_carrier, dtype: object
Unique values:  ['UA' 'F9' 'AA' 'AS' 'WN' 'DL' 'B6' 'NK' 'HA' 'G4' 'VX']

Variable:  branded_code_share
count     9808
unique      16
top         WN
freq      1655
Name: branded_code_share, dtype: object
Unique values:  ['UA_CODESHARE' 'F9' 'AA' 'UA' 'AS' 'WN' 'AA_CODESHARE' 'DL_CODESHARE'
 'DL' 'B6' 'AS_CODESHARE' 'NK' 'HA' 'G4' 'HA_CODESHARE' 'VX']

Variable:  mkt_carrier
count     9808
unique      11
top         AA
freq      2516
Name: mkt_carrier, dtype: object
Unique values:  ['UA' 'F9' 'AA' 'AS' 'WN' 'DL' 'B6' 'NK' 'HA' 'G4' 'VX']

Variable:  op_unique_carrier
count     9808
unique      27
top         WN
freq      1655
Name: op_unique_carrier, dtype: object
Unique values:  ['EV' 'F9' 'AA' 'UA' 'AS' 'WN' 'OH' '9E' 'DL' 'B6' 'OO' 'PT' 'G7' 'ZW'
 'MQ' 'YV' 'NK' 'QX' 'CP' 'YX' 'HA' 'C5' 'AX' 'G4' 'EM' 'VX' 'KS']

Variable:  tail_num
count       9776
unique      4561
top       N488HA
freq          10
Name: tail_num, dtype: object
Unique values:  ['N13903' 'N301FR' 'N167AN' ... 'N11189' 'N335PH' 'N14162']

Variable:  origin
count     9808
unique     318
top        ATL
freq       490
Name: origin, dtype: object
Unique values:  ['IAH' 'BHM' 'DFW' 'HNL' 'MCI' 'SEA' 'IND' 'SFO' 'STL' 'RDU' 'SLC' 'ATL'
 'CHA' 'CLT' 'BOS' 'ORD' 'PHL' 'ALB' 'DTW' 'SAN' 'DEN' 'LGA' 'MSP' 'MDW'
 'LAX' 'MIA' 'PHX' 'MCO' 'GSO' 'HOU' 'DAL' 'HPN' 'JFK' 'CLL' 'CMH' 'ESC'
 'PVD' 'EUG' 'EWR' 'MSY' 'ORF' 'IAD' 'FLL' 'ELP' 'DCA' 'BWI' 'OAK' 'PDX'
 'OKC' 'LGB' 'BZN' 'BNA' 'ABQ' 'SNA' 'BUR' 'JAX' 'MFE' 'OGG' 'GRR' 'RSW'
 'SJC' 'CVG' 'SJU' 'FWA' 'PNS' 'TPA' 'RDM' 'FNT' 'VPS' 'CHO' 'SDF' 'TYR'
 'LAS' 'SBN' 'STS' 'XWA' 'SHD' 'OMA' 'DSM' 'CLE' 'DAY' 'PIT' 'TUS' 'SAV'
 'ITO' 'MHT' 'SMF' 'ABE' 'JAN' 'BOI' 'MEM' 'TVC' 'MKE' 'PBG' 'RAP' 'GRB'
 'FSM' 'AUS' 'ICT' 'RIC' 'PAE' 'AVL' 'MAF' 'SAT' 'CAE' 'BDL' 'BTR' 'BUF'
 'EYW' 'CID' 'SHV' 'AVP' 'SCE' 'FAT' 'MDT' 'LIH' 'ECP' 'ILM' 'LEX' 'EVV'
 'MOT' 'TLH' 'TYS' 'GJT' 'JHM' 'ROC' 'ONT' 'PSE' 'GSP' 'OTZ' 'BGR' 'MLI'
 'SBA' 'RHI' 'PIA' 'CRP' 'PIE' 'CAK' 'MRY' 'PSP' 'PWM' 'RNO' 'SYR' 'XNA'
 'ANC' 'COU' 'MYR' 'KOA' 'HRL' 'FAR' 'CPR' 'MFR' 'HLN' 'ATW' 'CHS' 'BGM'
 'BTV' 'MGM' 'GEG' 'JAC' 'BLI' 'BIL' 'ABI' 'LIT' 'SAF' 'MTJ' 'PSC' 'MSN'
 'GRI' 'ELM' 'PBI' 'EGE' 'VLD' 'DAB' 'AZO' 'LYH' 'SGF' 'GPT' 'SUX' 'MKG'
 'BTM' 'SRQ' 'STT' 'FLO' 'ITH' 'JNU' 'MHK' 'LAW' 'HHH' 'CDC' 'HSV' 'RDD'
 'MSO' 'SPS' 'AZA' 'SFB' 'ROA' 'LSE' 'SCC' 'DBQ' 'ACT' 'LAN' 'LBE' 'SGU'
 'MOB' 'BFL' 'TUL' 'GTF' 'ASE' 'COD' 'COS' 'RST' 'CRW' 'LAR' 'FAY' 'SBP'
 'GRK' 'BJI' 'AGS' 'FSD' 'OAJ' 'EAT' 'STX' 'GUM' 'KTN' 'HYS' 'BRO' 'BIS'
 'ERI' 'EKO' 'MKK' 'ACY' 'DHN' 'TRI' 'LFT' 'IAG' 'SMX' 'PUB' 'EWN' 'CSG'
 'CMX' 'IDA' 'PLN' 'PIB' 'ISP' 'HTS' 'PHF' 'WYS' 'GUC' 'AMA' 'DLH' 'DIK'
 'ISN' 'VEL' 'DUT' 'SIT' 'SJT' 'BRW' 'PSM' 'PGD' 'TOL' 'SWF' 'LNK' 'PSG'
 'GNV' 'BMI' 'MLB' 'MEI' 'TTN' 'SUN' 'ABR' 'FCA' 'FAI' 'ACV' 'PRC' 'BFM'
 'LBB' 'AEX' 'TXK' 'ALO' 'MVY' 'IPT' 'TWF' 'PGV' 'BPT' 'CWA' 'CMI' 'ROW'
 'HDN' 'LBL' 'DRO' 'GCC' 'RKS' 'SWO' 'FLG' 'MQT' 'CDV' 'MLU' 'BQK' 'ORH'
 'BLV' 'MMH' 'GFK' 'GCK' 'PIH' 'LWB' 'OTH' 'PUW' 'YKM' 'PAH' 'ART' 'PIR'
 'CNY' 'BQN' 'PQI' 'MBS' 'ACK' 'LCK']

Variable:  origin_city_name
count            9808
unique            310
top       Chicago, IL
freq              558
Name: origin_city_name, dtype: object
Unique values:  ['Houston, TX' 'Birmingham, AL' 'Dallas/Fort Worth, TX' 'Honolulu, HI'
 'Kansas City, MO' 'Seattle, WA' 'Indianapolis, IN' 'San Francisco, CA'
 'St. Louis, MO' 'Raleigh/Durham, NC' 'Salt Lake City, UT' 'Atlanta, GA'
 'Chattanooga, TN' 'Charlotte, NC' 'Boston, MA' 'Chicago, IL'
 'Philadelphia, PA' 'Albany, NY' 'Detroit, MI' 'San Diego, CA'
 'Denver, CO' 'New York, NY' 'Minneapolis, MN' 'Los Angeles, CA'
 'Miami, FL' 'Phoenix, AZ' 'Orlando, FL' 'Greensboro/High Point, NC'
 'Dallas, TX' 'White Plains, NY' 'College Station/Bryan, TX'
 'Columbus, OH' 'Escanaba, MI' 'Providence, RI' 'Eugene, OR' 'Newark, NJ'
 'New Orleans, LA' 'Norfolk, VA' 'Washington, DC' 'Fort Lauderdale, FL'
 'El Paso, TX' 'Baltimore, MD' 'Oakland, CA' 'Portland, OR'
 'Oklahoma City, OK' 'Long Beach, CA' 'Bozeman, MT' 'Nashville, TN'
 'Albuquerque, NM' 'Santa Ana, CA' 'Burbank, CA' 'Jacksonville, FL'
 'Mission/McAllen/Edinburg, TX' 'Kahului, HI' 'Grand Rapids, MI'
 'Fort Myers, FL' 'San Jose, CA' 'Cincinnati, OH' 'San Juan, PR'
 'Fort Wayne, IN' 'Pensacola, FL' 'Tampa, FL' 'Bend/Redmond, OR'
 'Flint, MI' 'Valparaiso, FL' 'Charlottesville, VA' 'Louisville, KY'
 'Tyler, TX' 'Las Vegas, NV' 'South Bend, IN' 'Santa Rosa, CA'
 'Williston, ND' 'Staunton, VA' 'Omaha, NE' 'Des Moines, IA'
 'Cleveland, OH' 'Dayton, OH' 'Pittsburgh, PA' 'Tucson, AZ' 'Savannah, GA'
 'Hilo, HI' 'Manchester, NH' 'Sacramento, CA'
 'Allentown/Bethlehem/Easton, PA' 'Jackson/Vicksburg, MS' 'Boise, ID'
 'Memphis, TN' 'Traverse City, MI' 'Milwaukee, WI' 'Plattsburgh, NY'
 'Rapid City, SD' 'Green Bay, WI' 'Fort Smith, AR' 'Austin, TX'
 'Wichita, KS' 'Richmond, VA' 'Everett, WA' 'Asheville, NC'
 'Midland/Odessa, TX' 'San Antonio, TX' 'Columbia, SC' 'Hartford, CT'
 'Baton Rouge, LA' 'Buffalo, NY' 'Key West, FL'
 'Cedar Rapids/Iowa City, IA' 'Shreveport, LA' 'Scranton/Wilkes-Barre, PA'
 'State College, PA' 'Fresno, CA' 'Harrisburg, PA' 'Lihue, HI'
 'Panama City, FL' 'Wilmington, NC' 'Lexington, KY' 'Evansville, IN'
 'Minot, ND' 'Tallahassee, FL' 'Knoxville, TN' 'Grand Junction, CO'
 'Kapalua, HI' 'Rochester, NY' 'Ontario, CA' 'Ponce, PR' 'Greer, SC'
 'Kotzebue, AK' 'Bangor, ME' 'Moline, IL' 'Santa Barbara, CA'
 'Rhinelander, WI' 'Peoria, IL' 'Corpus Christi, TX' 'St. Petersburg, FL'
 'Akron, OH' 'Monterey, CA' 'Palm Springs, CA' 'Portland, ME' 'Reno, NV'
 'Syracuse, NY' 'Fayetteville, AR' 'Anchorage, AK' 'Columbia, MO'
 'Myrtle Beach, SC' 'Kona, HI' 'Harlingen/San Benito, TX' 'Fargo, ND'
 'Casper, WY' 'Medford, OR' 'Helena, MT' 'Appleton, WI' 'Charleston, SC'
 'Binghamton, NY' 'Burlington, VT' 'Montgomery, AL' 'Spokane, WA'
 'Jackson, WY' 'Bellingham, WA' 'Billings, MT' 'Abilene, TX'
 'Little Rock, AR' 'Santa Fe, NM' 'Montrose/Delta, CO'
 'Pasco/Kennewick/Richland, WA' 'Madison, WI' 'Grand Island, NE'
 'Elmira/Corning, NY' 'West Palm Beach/Palm Beach, FL' 'Eagle, CO'
 'Valdosta, GA' 'Daytona Beach, FL' 'Kalamazoo, MI' 'Lynchburg, VA'
 'Springfield, MO' 'Gulfport/Biloxi, MS' 'Sioux City, IA' 'Muskegon, MI'
 'Butte, MT' 'Sarasota/Bradenton, FL' 'Charlotte Amalie, VI'
 'Florence, SC' 'Ithaca/Cortland, NY' 'Juneau, AK'
 'Manhattan/Ft. Riley, KS' 'Lawton/Fort Sill, OK' 'Hilton Head, SC'
 'Cedar City, UT' 'Huntsville, AL' 'Redding, CA' 'Missoula, MT'
 'Wichita Falls, TX' 'Sanford, FL' 'Roanoke, VA' 'La Crosse, WI'
 'Deadhorse, AK' 'Dubuque, IA' 'Waco, TX' 'Lansing, MI' 'Latrobe, PA'
 'St. George, UT' 'Mobile, AL' 'Bakersfield, CA' 'Tulsa, OK'
 'Great Falls, MT' 'Aspen, CO' 'Cody, WY' 'Colorado Springs, CO'
 'Rochester, MN' 'Charleston/Dunbar, WV' 'Laramie, WY' 'Fayetteville, NC'
 'San Luis Obispo, CA' 'Killeen, TX' 'Bemidji, MN' 'Augusta, GA'
 'Sioux Falls, SD' 'Jacksonville/Camp Lejeune, NC' 'Wenatchee, WA'
 'Christiansted, VI' 'Guam, TT' 'Ketchikan, AK' 'Hays, KS'
 'Brownsville, TX' 'Bismarck/Mandan, ND' 'Erie, PA' 'Elko, NV'
 'Hoolehua, HI' 'Atlantic City, NJ' 'Dothan, AL'
 'Bristol/Johnson City/Kingsport, TN' 'Lafayette, LA' 'Niagara Falls, NY'
 'Santa Maria, CA' 'Pueblo, CO' 'New Bern/Morehead/Beaufort, NC'
 'Columbus, GA' 'Hancock/Houghton, MI' 'Idaho Falls, ID' 'Pellston, MI'
 'Hattiesburg/Laurel, MS' 'Islip, NY' 'Ashland, WV'
 'Newport News/Williamsburg, VA' 'West Yellowstone, MT' 'Gunnison, CO'
 'Amarillo, TX' 'Duluth, MN' 'Dickinson, ND' 'Vernal, UT' 'Unalaska, AK'
 'Sitka, AK' 'San Angelo, TX' 'Barrow, AK' 'Portsmouth, NH'
 'Punta Gorda, FL' 'Toledo, OH' 'Newburgh/Poughkeepsie, NY' 'Lincoln, NE'
 'Petersburg, AK' 'Gainesville, FL' 'Bloomington/Normal, IL'
 'Melbourne, FL' 'Meridian, MS' 'Trenton, NJ'
 'Sun Valley/Hailey/Ketchum, ID' 'Aberdeen, SD' 'Kalispell, MT'
 'Fairbanks, AK' 'Arcata/Eureka, CA' 'Prescott, AZ' 'Lubbock, TX'
 'Alexandria, LA' 'Texarkana, AR' 'Waterloo, IA' "Martha's Vineyard, MA"
 'Williamsport, PA' 'Twin Falls, ID' 'Greenville, NC'
 'Beaumont/Port Arthur, TX' 'Mosinee, WI' 'Champaign/Urbana, IL'
 'Roswell, NM' 'Hayden, CO' 'Liberal, KS' 'Durango, CO' 'Gillette, WY'
 'Rock Springs, WY' 'Stillwater, OK' 'Flagstaff, AZ' 'Marquette, MI'
 'Cordova, AK' 'Monroe, LA' 'Brunswick, GA' 'Worcester, MA'
 'Belleville, IL' 'Mammoth Lakes, CA' 'Grand Forks, ND' 'Garden City, KS'
 'Pocatello, ID' 'Lewisburg, WV' 'North Bend/Coos Bay, OR' 'Pullman, WA'
 'Yakima, WA' 'Paducah, KY' 'Watertown, NY' 'Pierre, SD' 'Moab, UT'
 'Aguadilla, PR' 'Presque Isle/Houlton, ME' 'Saginaw/Bay City/Midland, MI'
 'Nantucket, MA']

Variable:  dest
count     9808
unique     301
top        ORD
freq       493
Name: dest, dtype: object
Unique values:  ['MFE' 'DEN' 'LAX' 'SLC' 'SFO' 'IAH' 'GEG' 'TPA' 'MDW' 'SAN' 'CLT' 'CVG'
 'DFW' 'ATL' 'IND' 'PIT' 'SJC' 'OKC' 'MGM' 'KOA' 'SNA' 'ILM' 'DCA' 'GSP'
 'XNA' 'HPN' 'LIH' 'PDX' 'MSP' 'BHM' 'BOS' 'EAU' 'SBP' 'AUS' 'MIA' 'LGA'
 'PHL' 'DTW' 'CMH' 'MCO' 'MDT' 'CAE' 'ROC' 'FLL' 'ORD' 'LAS' 'BWI' 'DAY'
 'MKE' 'FLG' 'ALB' 'OAK' 'BZN' 'JFK' 'DRO' 'AZO' 'HLN' 'PNS' 'SMF' 'RDD'
 'MCI' 'PHX' 'BNA' 'ISP' 'SEA' 'SDF' 'HNL' 'STL' 'SGF' 'DAL' 'TXK' 'GSO'
 'SJT' 'IAD' 'FWA' 'TUS' 'JNU' 'SYR' 'CHA' 'BFL' 'TYR' 'MLB' 'MSY' 'CHS'
 'OGG' 'ITO' 'CID' 'ABQ' 'SHV' 'BTV' 'RDU' 'TWF' 'RIC' 'PBI' 'BUF' 'EWR'
 'MYR' 'CLE' 'MBS' 'AVL' 'ICT' 'BDL' 'PIH' 'ASE' 'PVD' 'BUR' 'DBQ' 'SAT'
 'ONT' 'PWM' 'RSW' 'SAF' 'CAK' 'PIE' 'EGE' 'JAN' 'HOU' 'ITH' 'DAB' 'HVN'
 'JAX' 'AGS' 'SBA' 'ATW' 'RAP' 'FSM' 'FNT' 'DSM' 'BQK' 'LIT' 'ORF' 'IDA'
 'LBB' 'BOI' 'CHO' 'RNO' 'MSN' 'FSD' 'RDM' 'GRR' 'ANC' 'SJU' 'EUG' 'HSV'
 'BIL' 'TUL' 'OMA' 'CRW' 'LAN' 'BIS' 'SBN' 'ELP' 'LNK' 'TYS' 'FCA' 'MOT'
 'SRQ' 'SWF' 'GRI' 'JMS' 'EVV' 'SAV' 'PSP' 'COS' 'EYW' 'TOL' 'HOB' 'LGB'
 'GRB' 'STT' 'LFT' 'BTR' 'TVC' 'SFB' 'PGD' 'MSO' 'MAF' 'COD' 'MHT' 'PIA'
 'TTN' 'KTN' 'ECP' 'MFR' 'BRO' 'MEM' 'GPT' 'TLH' 'PGV' 'BQN' 'SUX' 'LWS'
 'GJT' 'OAJ' 'PVU' 'RFD' 'ABR' 'MOB' 'FAT' 'BRW' 'ACY' 'VPS' 'FAI' 'GTF'
 'PSC' 'MVY' 'MLU' 'MKG' 'MLI' 'ROA' 'GFK' 'LEX' 'ABE' 'SCE' 'BTM' 'GRK'
 'AMA' 'MTJ' 'JAC' 'LCK' 'GNV' 'ACT' 'ACV' 'DLH' 'CSG' 'ACK' 'AZA' 'BGR'
 'MEI' 'HHH' 'BLI' 'ROW' 'AVP' 'FAR' 'STS' 'VLD' 'RKS' 'ELM' 'LNY' 'PRC'
 'SPI' 'HRL' 'MKK' 'CMI' 'LRD' 'PLN' 'CLL' 'CNY' 'LAW' 'LYH' 'SLN' 'COU'
 'LSE' 'LCH' 'PAE' 'SHD' 'YUM' 'FAY' 'CPR' 'DHN' 'PIB' 'AEX' 'ABI' 'MRY'
 'YKM' 'MHK' 'BPT' 'CRP' 'TRI' 'OGS' 'SCK' 'SGU' 'ABY' 'PHF' 'STX' 'USA'
 'RST' 'CGI' 'DUT' 'BMI' 'HTS' 'PUB' 'SBY' 'YAK' 'ISN' 'HDN' 'MQT' 'WRG'
 'CWA' 'PBG' 'ERI' 'ALW' 'SUN' 'DRT' 'GGG' 'VEL' 'SCC' 'ART' 'OME' 'HYS'
 'RHI']

Variable:  dest_city_name
count            9808
unique            295
top       Chicago, IL
freq              602
Name: dest_city_name, dtype: object
Unique values:  ['Mission/McAllen/Edinburg, TX' 'Denver, CO' 'Los Angeles, CA'
 'Salt Lake City, UT' 'San Francisco, CA' 'Houston, TX' 'Spokane, WA'
 'Tampa, FL' 'Chicago, IL' 'San Diego, CA' 'Charlotte, NC'
 'Cincinnati, OH' 'Dallas/Fort Worth, TX' 'Atlanta, GA' 'Indianapolis, IN'
 'Pittsburgh, PA' 'San Jose, CA' 'Oklahoma City, OK' 'Montgomery, AL'
 'Kona, HI' 'Santa Ana, CA' 'Wilmington, NC' 'Washington, DC' 'Greer, SC'
 'Fayetteville, AR' 'White Plains, NY' 'Lihue, HI' 'Portland, OR'
 'Minneapolis, MN' 'Birmingham, AL' 'Boston, MA' 'Eau Claire, WI'
 'San Luis Obispo, CA' 'Austin, TX' 'Miami, FL' 'New York, NY'
 'Philadelphia, PA' 'Detroit, MI' 'Columbus, OH' 'Orlando, FL'
 'Harrisburg, PA' 'Columbia, SC' 'Rochester, NY' 'Fort Lauderdale, FL'
 'Las Vegas, NV' 'Baltimore, MD' 'Dayton, OH' 'Milwaukee, WI'
 'Flagstaff, AZ' 'Albany, NY' 'Oakland, CA' 'Bozeman, MT' 'Durango, CO'
 'Kalamazoo, MI' 'Helena, MT' 'Pensacola, FL' 'Sacramento, CA'
 'Redding, CA' 'Kansas City, MO' 'Phoenix, AZ' 'Nashville, TN' 'Islip, NY'
 'Seattle, WA' 'Louisville, KY' 'Honolulu, HI' 'St. Louis, MO'
 'Springfield, MO' 'Dallas, TX' 'Texarkana, AR'
 'Greensboro/High Point, NC' 'San Angelo, TX' 'Fort Wayne, IN'
 'Tucson, AZ' 'Juneau, AK' 'Syracuse, NY' 'Chattanooga, TN'
 'Bakersfield, CA' 'Tyler, TX' 'Melbourne, FL' 'New Orleans, LA'
 'Charleston, SC' 'Kahului, HI' 'Hilo, HI' 'Cedar Rapids/Iowa City, IA'
 'Albuquerque, NM' 'Shreveport, LA' 'Burlington, VT' 'Raleigh/Durham, NC'
 'Twin Falls, ID' 'Richmond, VA' 'West Palm Beach/Palm Beach, FL'
 'Buffalo, NY' 'Newark, NJ' 'Myrtle Beach, SC' 'Cleveland, OH'
 'Saginaw/Bay City/Midland, MI' 'Asheville, NC' 'Wichita, KS'
 'Hartford, CT' 'Pocatello, ID' 'Aspen, CO' 'Providence, RI' 'Burbank, CA'
 'Dubuque, IA' 'San Antonio, TX' 'Ontario, CA' 'Portland, ME'
 'Fort Myers, FL' 'Santa Fe, NM' 'Akron, OH' 'St. Petersburg, FL'
 'Eagle, CO' 'Jackson/Vicksburg, MS' 'Ithaca/Cortland, NY'
 'Daytona Beach, FL' 'New Haven, CT' 'Jacksonville, FL' 'Augusta, GA'
 'Santa Barbara, CA' 'Appleton, WI' 'Rapid City, SD' 'Fort Smith, AR'
 'Flint, MI' 'Des Moines, IA' 'Brunswick, GA' 'Little Rock, AR'
 'Norfolk, VA' 'Idaho Falls, ID' 'Lubbock, TX' 'Boise, ID'
 'Charlottesville, VA' 'Reno, NV' 'Madison, WI' 'Sioux Falls, SD'
 'Bend/Redmond, OR' 'Grand Rapids, MI' 'Anchorage, AK' 'San Juan, PR'
 'Eugene, OR' 'Huntsville, AL' 'Billings, MT' 'Tulsa, OK' 'Omaha, NE'
 'Charleston/Dunbar, WV' 'Lansing, MI' 'Bismarck/Mandan, ND'
 'South Bend, IN' 'El Paso, TX' 'Lincoln, NE' 'Knoxville, TN'
 'Kalispell, MT' 'Minot, ND' 'Sarasota/Bradenton, FL'
 'Newburgh/Poughkeepsie, NY' 'Grand Island, NE' 'Jamestown, ND'
 'Evansville, IN' 'Savannah, GA' 'Palm Springs, CA' 'Colorado Springs, CO'
 'Key West, FL' 'Toledo, OH' 'Hobbs, NM' 'Long Beach, CA' 'Green Bay, WI'
 'Charlotte Amalie, VI' 'Lafayette, LA' 'Baton Rouge, LA'
 'Traverse City, MI' 'Sanford, FL' 'Punta Gorda, FL' 'Missoula, MT'
 'Midland/Odessa, TX' 'Cody, WY' 'Manchester, NH' 'Peoria, IL'
 'Trenton, NJ' 'Ketchikan, AK' 'Panama City, FL' 'Medford, OR'
 'Brownsville, TX' 'Memphis, TN' 'Gulfport/Biloxi, MS' 'Tallahassee, FL'
 'Greenville, NC' 'Aguadilla, PR' 'Sioux City, IA' 'Lewiston, ID'
 'Grand Junction, CO' 'Jacksonville/Camp Lejeune, NC' 'Provo, UT'
 'Rockford, IL' 'Aberdeen, SD' 'Mobile, AL' 'Fresno, CA' 'Barrow, AK'
 'Atlantic City, NJ' 'Valparaiso, FL' 'Fairbanks, AK' 'Great Falls, MT'
 'Pasco/Kennewick/Richland, WA' "Martha's Vineyard, MA" 'Monroe, LA'
 'Muskegon, MI' 'Moline, IL' 'Roanoke, VA' 'Grand Forks, ND'
 'Lexington, KY' 'Allentown/Bethlehem/Easton, PA' 'State College, PA'
 'Butte, MT' 'Killeen, TX' 'Amarillo, TX' 'Montrose/Delta, CO'
 'Jackson, WY' 'Gainesville, FL' 'Waco, TX' 'Arcata/Eureka, CA'
 'Duluth, MN' 'Columbus, GA' 'Nantucket, MA' 'Bangor, ME' 'Meridian, MS'
 'Hilton Head, SC' 'Bellingham, WA' 'Roswell, NM'
 'Scranton/Wilkes-Barre, PA' 'Fargo, ND' 'Santa Rosa, CA' 'Valdosta, GA'
 'Rock Springs, WY' 'Elmira/Corning, NY' 'Lanai, HI' 'Prescott, AZ'
 'Springfield, IL' 'Harlingen/San Benito, TX' 'Hoolehua, HI'
 'Champaign/Urbana, IL' 'Laredo, TX' 'Pellston, MI'
 'College Station/Bryan, TX' 'Moab, UT' 'Lawton/Fort Sill, OK'
 'Lynchburg, VA' 'Salina, KS' 'Columbia, MO' 'La Crosse, WI'
 'Lake Charles, LA' 'Everett, WA' 'Staunton, VA' 'Yuma, AZ'
 'Fayetteville, NC' 'Casper, WY' 'Dothan, AL' 'Hattiesburg/Laurel, MS'
 'Alexandria, LA' 'Abilene, TX' 'Monterey, CA' 'Yakima, WA'
 'Manhattan/Ft. Riley, KS' 'Beaumont/Port Arthur, TX' 'Corpus Christi, TX'
 'Bristol/Johnson City/Kingsport, TN' 'Ogdensburg, NY' 'Stockton, CA'
 'St. George, UT' 'Albany, GA' 'Newport News/Williamsburg, VA'
 'Christiansted, VI' 'Concord, NC' 'Rochester, MN' 'Cape Girardeau, MO'
 'Unalaska, AK' 'Bloomington/Normal, IL' 'Ashland, WV' 'Pueblo, CO'
 'Salisbury, MD' 'Yakutat, AK' 'Williston, ND' 'Hayden, CO'
 'Marquette, MI' 'Wrangell, AK' 'Mosinee, WI' 'Plattsburgh, NY' 'Erie, PA'
 'Walla Walla, WA' 'Sun Valley/Hailey/Ketchum, ID' 'Del Rio, TX'
 'Longview, TX' 'Vernal, UT' 'Deadhorse, AK' 'Watertown, NY' 'Nome, AK'
 'Hays, KS' 'Rhinelander, WI']

Variable:  dup
count     9808
unique       1
top          N
freq      9808
Name: dup, dtype: object
Unique values:  ['N']

In [72]:
train.dtypes[train.dtypes == 'object']

mkt_unique_carrier    object
branded_code_share    object
op_unique_carrier     object
dtype: object

In [86]:
df_dummy = one_hot_encode(train)

In [87]:
df_dummy

,mkt_unique_carrier_AA,mkt_unique_carrier_AS,mkt_unique_carrier_B6,mkt_unique_carrier_DL,mkt_unique_carrier_F9,mkt_unique_carrier_G4,mkt_unique_carrier_HA,mkt_unique_carrier_NK,mkt_unique_carrier_UA,mkt_unique_carrier_VX,...,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9803,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9804,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9805,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9806,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9807,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### Feature Selection / Dimensionality Reduction

We need to apply different selection techniques to find out which one will be the best for our problems.

- Original Features vs. PCA conponents?

### Modeling

Use different ML techniques to predict each problem.

- linear / logistic / multinomial logistic regression
- Naive Bayes
- Random Forest
- SVM
- XGBoost
- The ensemble of your own choice

### Evaluation

You have data from 2018 and 2019 to develop models. Use different evaluation metrics for each problem and compare the performance of different models.

You are required to predict delays on **out of sample** data from **first 7 days (1st-7th) of January 2020** and to share the file with LighthouseLabs. Sample submission can be found in the file **_sample_submission.csv_**

======================================================================
## Stretch Tasks

### Multiclass Classification

The target variables are **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY**. We need to do additional transformations because these variables are not binary but continuos. For each flight that was delayed, we need to have one of these variables as 1 and others 0.

It can happen that we have two types of delays with more than 0 minutes. In this case, take the bigger one as 1 and others as 0.

### Binary Classification

The target variable is **CANCELLED**. The main problem here is going to be huge class imbalance. We have only very little cancelled flights with comparison to all flights. It is important to do the right sampling before training and to choose correct evaluation metrics.